<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Roomaku</title>
</head>
<body>
    <div>
        @Html.Action("Index", "Navbar")
        @RenderBody()
    </div>
</body>
</html>
